<section class="footer">

  <div class="area-footer">

    <!-- <div class="imagem-footer">
      <img
        src="../../../assets/imagens/foto-redonda.png"
        width="auto"
        height="130px"
        alt="Foto Ricardo Redonda"
      />
    </div> -->

    <!-- <div class="dados-pessoais">
      <div class="meu-nome">
        <p>Ricardo Alves</p>
      </div>
      <div class="meu-telefone">
        <p>(34) 9 9842-8752</p>
      </div>
      <div class="meu-telefone">
        <p>Desenvolvedor Backend</p>
      </div>
    </div> -->

    <!-- <div class="redes-sociais">
      <div class="linkedin">
        <a
          href="https://www.linkedin.com/in/ricardo-alves-8a660428"
          target="_blank"
          class="link-redes-sociais"
        >
          <img
            src="../../../assets/imagens/linkedin-2.png"
            width="28"
            alt="Icone Linkedin"
          />&nbsp;&nbsp;&nbsp;Meu Linkedin
        </a>
      </div>
      <div class="github">
        <a
          href="https://github.com/ricardoalves21"
          target="_blank"
          class="link-redes-sociais"
        >
          <img
            src="../../../assets/imagens/github.png"
            width="28"
            alt="Icone Linkedin"
          />&nbsp;&nbsp;&nbsp;Meu Github
        </a>
      </div>
      <div class="whatsapp">
        <a
          href="https://api.whatsapp.com/send?phone=5534998428752&text=Ol%C3%A1%20vim%20atrav%C3%A9s%20do%20seu%20portf%C3%B3lio..."
          target="_blank"
          class="link-redes-sociais"
        >
          <img
            src="../../../assets/imagens/whatsapp-2.png"
            width="28"
            alt="Icone Whatsapp"
          />&nbsp;&nbsp;&nbsp;Meu Whatsapp
        </a>
      </div>
    </div>

    <div class="texto-footer-1 texto-rodape">
      <div>
        <a href="#bloco-sobre">
          <img
          src="../../../assets/imagens/perfil.png"
          width="28"
          alt="Icone Whatsapp"
        />&nbsp;&nbsp;&nbsp;Sobre Mim
        </a>
      </div>
      <div>
        <a href="#bloco-portfolio">
          <img
          src="../../../assets/imagens/portfolio.png"
          width="28"
          alt="Icone Whatsapp"
        />&nbsp;&nbsp;&nbsp;Meus Trabalhos
        </a>
      </div>
      <div>
        <a href="#bloco-contato">
          <img
          src="../../../assets/imagens/mensagem.png"
          width="28"
          alt="Icone Whatsapp"
        />&nbsp;&nbsp;&nbsp;Contato
        </a>
      </div>
    </div> -->

  </div>
</section>
