<div class="modal-header">
  <h4 class="modal-title">Editar Produto</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #produtoForm="ngForm" (ngSubmit)="onSubmit(produtoForm)">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" class="form-control" [(ngModel)]="produto.nome" name="nome" required>
    </div>

    <div class="form-group">
      <label for="valor">Valor:</label>
      <input type="number" id="valor" class="form-control" [(ngModel)]="produto.valor" name="valor" required>
    </div>

    <div class="form-group">
      <label for="estoque">Estoque:</label>
      <input type="number" id="estoque" class="form-control" [(ngModel)]="produto.estoque" name="estoque" required>
    </div>

    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <select class="form-control" id="cidade" name="cidade" [(ngModel)]="produto.cidade" required>
        <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{ cidade.nome }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
