.mt-5, .my-5 {
  padding: 20px;
  margin-top: 0.5rem !important;
}

.nav-item :hover {
  cursor: pointer;
}

.form-group {
  padding: 5px 0 5px 0;
}

.btn-danger {
  margin-left: 5px !important;
}

.form-list-prod {
  vertical-align: middle;
}

#produtoCidade {
  margin-bottom: 10px;
}

#cidadeNome {
  margin-bottom: 10px;
}
