<div class="container mt-5">
  <!-- Mensagem de erro -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Abas -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'produto'" (click)="activeTab = 'produto'">Cadastrar Produto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'cidade'" (click)="activeTab = 'cidade'">Cadastrar Cidade</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'listar'" (click)="activeTab = 'listar'">Listar Produtos</a>
    </li>
  </ul>

  <!-- Conteúdo das Abas -->
  <div class="tab-content">

    <div *ngIf="activeTab === 'produto'" class="mt-4">
      <form (ngSubmit)="cadastrarProduto(produtoForm)" #produtoForm="ngForm">
        <div class="form-group">
          <label for="produtoNome">Nome</label>
          <input type="text" class="form-control" id="produtoNome" name="nome" ngModel placeholder="Nome do Produto" required>
        </div>
        <div class="form-group">
          <label for="produtoValor">Valor</label>
          <input type="number" class="form-control" id="produtoValor" name="valor" ngModel placeholder="Valor do Produto" required>
        </div>
        <div class="form-group">
          <label for="produtoEstoque">Estoque</label>
          <input type="number" class="form-control" id="produtoEstoque" name="estoque" ngModel placeholder="Quantidade em Estoque" required>
        </div>
        <div class="form-group">
          <label for="produtoCidade">Cidade</label>
          <select class="form-control" id="produtoCidade" name="cidade" ngModel>
            <option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</option>
          </select>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
        </div>

      </form>
    </div>

    <div *ngIf="activeTab === 'cidade'" class="mt-4">
      <form (ngSubmit)="cadastrarCidade(cidadeForm)" #cidadeForm="ngForm">
        <div class="form-group">
          <label for="cidadeNome">Nome da Cidade</label>
          <input type="text" class="form-control" id="cidadeNome" name="nome" ngModel placeholder="Nome da Cidade" required>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Cadastrar Cidade</button>
        </div>

      </form>
    </div>

    <div *ngIf="activeTab === 'listar'" class="mt-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Valor</th>
            <th>Estoque</th>
            <th>Cidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.valor }}</td>
            <td>{{ produto.estoque }}</td>
            <td>{{ produto.cidade.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
